asttokens==2.2.1
backcall==0.2.0
comm==0.1.2
contourpy==1.0.7
cppyy==3.1.2
cppyy-backend==1.15.2
cppyy-cling==6.30.0
CPyCppyy==1.12.16
cycler==0.11.0
Cython==3.0.8
debugpy==1.6.6
decorator==5.1.1
dpkt==1.9.8
et-xmlfile==1.1.0
executing==1.2.0
fonttools==4.38.0
ipykernel==6.20.2
ipython==8.9.0
jedi==0.18.2
jupyter_client==8.0.2
jupyter_core==5.2.0
kiwisolver==1.4.4
libpcap==1.11.0b8
matplotlib==3.6.3
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
networkx==3.4.2
numpy==1.26.4
openpyxl==3.1.0
packaging==23.2
pandas==1.5.3
parso==0.8.3
pcapy==0.11.4
pickleshare==0.7.5
Pillow==9.4.0
pkg-about==1.1.5
platformdirs==2.6.2
prompt-toolkit==3.0.36
psutil==5.9.4
pure-eval==0.2.2
Pygments==2.14.0
python-dateutil==2.8.2
python-libpcap==0.4.2
pyzmq==25.0.0
scipy==1.13.0
seaborn==0.13.2
simple-pid==2.0.1
stack-data==0.6.2
tomli==2.0.1
tornado==6.2
traitlets==5.9.0
UNKNOWN @ git+https://github.com/overdev/raylib-py@1f8a98d1afa7b7229a833aafb650b4056fec8ed5
wcwidth==0.2.6
